---

- name: Add intelliJ alias for all user profiles
  become: true
  lineinfile:
    dest="/etc/profile.d/intellij.sh"
    line="alias intellij='{{ ansible_local.intellij.general.home }}/bin/idea.sh &>/dev/null'"
    regexp='^alias intellij='
    state=present
    insertafter=EOF
    create=True
