- name: Download virtualbox additions ISO
  become: true
  ansible.builtin.package:
    name: virtualbox-guest-additions-iso
  register: vbadd_iso

- name: Install virtualbox additions
  become: true
  ansible.builtin.shell: |
    mkdir -p /media/vbadd
    mount /usr/share/virtualbox/VBoxGuestAdditions.iso /media/vbadd/
    /media/vbadd/VBoxLinuxAdditions.run
    umount /media/vbadd/
    rm -rf /media/vbadd/
  when: vbadd_iso.changed

- name: Create group vboxsf
  become: true
  ansible.builtin.group:
    name: vboxsf

- name: Add user to vboxsf group to have access to bind mounts
  become: true
  ansible.builtin.user:
    name: "{{ ansible_env.USER }}"
    append: true
    groups: vboxsf
