- hosts: all

  pre_tasks:
  - include_tasks: tasks/ubuntu_apt.yml
  - include_tasks: tasks/ubuntu_desktop.yml
  - include_tasks: tasks/ubuntu_headless.yml
  - include_tasks: tasks/basicsetup.yml
  - include_tasks: tasks/buildtools.yml
  - include_tasks: tasks/java.yml

  roles:
  - role: ssh
    vars:
      ssh_pub_files: ['ssh_key_clang_home.opub', 'rsa-key-clang-scs-20170919.opub']

  - role: swapfile
    vars:
      swapfile_size: 4G

  - role: bash
  - role: tmux
  - role: clion
  - role: hunspell
  - role: google_testing

  - role: git-tools
    vars:
      git_aliases: on
      git_rerere: on
      git_editor_nano: on
      git_prompt: on
      git_archivestotext: on
      git_docxtotext: on
      git_pdftotext: on
      git_xlsxtotext: on
#      git_user_name: "Christian Lang"
#      git_user_email: "lang.chr86@gmail.com"

  - role: dockerio
#  - role: ansible-role-docmake
#    vars:
#      pandoc: on
#      texlive_min: on
#      texlive_additional: on
#      markdownlint: on
#      drawio: on
#      gpp: on
#      metropolis: on
#      tikz_uml: on
#      docmake_version: '35411f1'
  - role: okular

  - role: ansible-role-intellij
    vars:
      intellij_version: '2021.1.1'
      intellij_edition: 'community'
      users:
        - username: vagrant
          intellij_jdks:
            - name: '11'
              home: '{{ jdk11_home }}'
          intellij_default_jdk: '11'
          intellij_disabled_plugins:
            - org.jetbrains.plugins.gradle
            - CVS
            - com.intellij.uiDesigner
            - org.jetbrains.android
            - TestNG-J
            - hg4idea
            - Subversion
            - AntSupport
            - DevKit
            - Kotlin

  post_tasks:
  - include_tasks: tasks/intellij.yml
  - include_tasks: tasks/ubuntu_cleanup.yml
